/*MENU*/

.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 75vw;
    height: 100vh;

    position: absolute; /*Começando esconder o menu lateral*/
    left: -100vh; /*Coloca um valor negativo bem grande ou tamanho negativo que seja exatamente o tamanho da tela*/
    transition: .25s;
}
/*Tem que fazer essa class aparecer e desaparecer*/
.menu-lateral--ativo {
    left: 0; /*Quando o menu for ativo left 0 traz ele outra vez para a posição inicial */
    transition: .25s;
}

.menu-lateral__logo {
    align-self: center;
    width: 118px;
    padding: 16px;
}

.menu-lateral__link {
    height: 64px;
    color: #95999C;
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu-lateral__link--ativo {
    color: #FFFFFF;
    padding-left: 56px;
    border-left: 8px solid #FFFFFF;
}

.menu-lateral__link::before {
    content: "\e900";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu-lateral__link--inicio::before {
    content: "\e902";
}

.menu-lateral__link--videos::before {
    content: "\e90e";
}

.menu-lateral__link--picos::before {
    content: "\e909";
}

.menu-lateral__link--integrantes::before {
    content: "\903";
}

.menu-lateral__link--camisas::before {
    content: "\e900";
}

.menu-lateral__link--pinturas::before {
    content: "\e90a";
}

@media screen and (min-width: 1440px) {
    .menu-lateral {
       position: static; 
       width: 200px;
       grid-column: 1;
       grid-row: 1 / span 2;
    }

    
}
